.header {
  position: absolute;
  left: 0px;
  right:50px;
  top: 0px;
  height: 50px;
  z-index: 10;
  padding: 0px;
  text-align: center;
  background: rgba(58,68,84,0.8);
  color: white;
  line-height: 50px;
}

.footer {
  position: absolute;
  left: 0px;
  right:0px;
  bottom: 0px;
  height: 40px;
  z-index: 10;
  padding: 5px;
  text-align: right;
  background: rgba(58,68,84,0.8);
  color: white;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#mapToggle {
  position: absolute;
  right:0px;
  height: 50px;
  width: 50px;
  z-index: 10;
  padding: 0px;
  text-align: center;
  background: rgba(58,68,84,0.8);
  color: white;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#floorBar {
  height: 100%-bottom;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 50px;
  bottom: 50px;
  right: 0;
  background-color: rgba(58,68,84,0.8);
  overflow-x: hidden;
  overflow-y: hidden;
  transition-duration: 0.5s;
  opacity: 0.0;
}

.mobile #floorBar {
  /*top: 60%;*/
  top: 50px;
  bottom: 50px;
  height: 100%-bottom;
}

@media screen and (min-width: 600px) {
  #floorBar {
    width: 30%;
  }
}

#mapid {
  height: 100%;
  weight: 100%;
}

.numberCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin: auto;

    background: #ff0000;
    border: 1.5px solid #fff;
    color: #fff;
    text-align: center;

    font: 13px;
    font-family: 'Arial Black', sans-serif;
}

.custom-hotspot {
    height: 50px;
    width: 50px;
    background: #f00;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
